@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Life Match</h1>
    <p class="lead">Life Match is a dating application for REAL people in REAL life!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet your soul mate</h2>
        <p>
            We offer an exclusive way to match between people. Search a match now!
        </p>
        <p><a class="btn btn-default" href="SearchMatch">Search a match &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Matching algorithm</h2>
        <p>We've developed a cut edging algorithm to match between people</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>100,000 success stories</h2>
        <p>Our growing community has already more than 100,000 success stories</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>